<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
  	<servlet-name>addData</servlet-name>
  	<servlet-class>pair_pro.client.addData</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>addData</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>revPizzaData</servlet-name>
  	<servlet-class>pair_pro.server.revPizzaData</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>revPizzaData</servlet-name>
 	<url-pattern>/review</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MamimoPizza.html</welcome-file>
  </welcome-file-list>

</web-app>
